@import "tailwindcss";

:root {
  --background: #ffffffd5;
  --foreground: #151931;
}

body {
  background-color: var(--foreground);
  color: var(--background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
